body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header, footer {
    text-align: center;
    background-color: #00274C; /* University of Michigan blue */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

header h1, footer p {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #041E42; /* Darker blue for the nav */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-content {
    text-align: center;
    margin: 20px;
}

.employee-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
}

.employee-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#output.home-view .employee-card {
    width: 30%;
}

#output.filtered-view .employee-card {
    width: 300px; /* Min width for filtered data */
}

.employee-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.employee-info {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.employee-info img {
    border-radius: 50%;
    height: 150px; /* Adjust height to match width for circular shape */
    width: 150px;
}

.controls {
    margin-bottom: 20px;
}

#allWages {
    font-weight: bold;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

